.hamburger-button {
  position: absolute;
  top: 28px;
  left: 25px;
  z-index: 2;

  // background: var(--glass-bg);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: var(--glass-backdrop);
  border: 1px solid var(--glass-border);
  // border-radius: 50%;
  
  width: 36px;
  height: 36px;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-primary);
  font-size: 18px;

  .hamburger-button-icon {
    font-size: 20px;
    padding: 0px !important;
    margin: 0px !important;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: var(--glass-shadow-hover) !important;
    background: rgba(255, 255, 255, 0.15);
    border: none;
  }

  // Solo mostrar en móviles
  @media (width > 768px) {
    display: none;
  }

  // Ajustes para pantallas muy pequeñas
  @media (width <= 480px) {
    top: 70px;
    left: 28px;
    width: 36px;
    height: 36px;
  }
} 